<h1>Login</h1>

<form action="/login" method="post">
	Email: <br><input type="text" name="email"><br><br>
	Password: <br><input type="password" name="pass"><br><br>
	<input type="submit">
	<br><br>
	<a href="signin" style="float: right">Registrate</a>
</form>