<h1><%= @survey_name %></h1>

<h3>Preguntas:</h3>

<div id="questions">
</div>

<div id="new_question">
  <form id="add_question">
    <input type="text" style="width: 50%" id="name_question">
    <input type="button" value="Nueva Pregunta" id="create_question">
  </form>
</div>
